fastapi
uvicorn
openai
langchain-openai
langchain-community
chromadb
python-dotenv
langchain
python-multipart
pydantic
langchain-text-splitters
langchain-core
langchain-chroma
langchain-groq
starlette
sentence-transformers